[Desktop Entry]
Name=Microsoft Teams (PWA)
Exec=ungoogled-chromium --user-data-dir="$HOME/.config/ungoogled-chromium-teams" --app=https://teams.microsoft.com/v2/
Icon=msteams
Type=Application
Categories=Network;Office;
